@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

/*header*/
.header {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: baseline;
  justify-content: space-around;
}

.menu {
  display: flex;
  gap: 32px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 735px;
  background-image: url(img/topback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header_input {
  width: 288px;
  height: 41px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  transition-delay: 0.3s;
}

.header_input::-moz-placeholder {
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.header_input::placeholder {
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 77px;
}

.menu-mob {
  display: none;
}

.menu_link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  transition-property: all;
  transition-duration: 1s;
}

.menu_link:hover {
  text-decoration: underline;
}

.main-header {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
  font-style: normal;
  color: #FFFFFF;
  max-width: 792px;
}

.text {
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #FFFFFF;
}

.link {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.for-box {
  padding-top: 64px;
}

.heading_mebel {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  animation-name: white;
}

.for {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  height: 415px;
  grid-column: span 4;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for__item_big {
  grid-column: span 6;
}

.for__item_1 {
  background-image: url(img/for-1.jpg);
}

.for__item_2 {
  background-image: url(img/for-2.jpg);
}

.for__item_3 {
  background-image: url(img/for-3.jpg);
}

.for__item_4 {
  background-image: url(img/for-4.jpg);
}

.for__item_5 {
  background-image: url(img/for-5.jpg);
}

.subtitle {
  font-weight: 600;
  font-size: 48px;
  color: #000000;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  line-height: 59px;
}

.price {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
  color: #050505;
}
.price_disable {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

.product-content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 32px;
}

.product {
  max-width: 23.625rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  padding: 0 5px;
  margin-top: 10px;
}
.product__img {
  max-width: 23.625rem;
  height: 250px;
  animation-name: my-animation;
  margin-bottom: 32px;
}
.product__title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
  color: #000000;
  margin-bottom: 1px;
}
.product__discription {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
  color: #888888;
  margin-top: 0.563rem;
  width: 379px;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ccc;
}

.product__price {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.catalog-content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.link_catalog {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
  display: block;
  margin-top: 34px;
}

.link_catalog:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #000000;
}

footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 40px;
  justify-content: space-between;
  background-color: #F7F6F6;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__content {
  display: flex;
  width: 789px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_logo {
  font-style: normal;
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 44px;
  color: #000;
}

.footer__info {
  display: flex;
  gap: 129px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__heading {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
  color: #000000;
}

.footer__link {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 17px;
  color: #888888;
}

.footer__link:hover {
  text-decoration-line: underline;
}

.footer__icons {
  display: flex;
  gap: 1rem;
  transition-delay: 1s;
  transition-property: all;
  align-items: center;
}

.footer__icons a:hover {
  background-color: #000;
}

.footer_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.footer_form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.link__footer {
  color: #716d6d;
  transition-delay: 1s;
}

.link__footer:hover {
  color: black;
}

.footer__form_email {
  width: 275px;
  height: 46px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  padding-right: 25px;
  color: #716d6d;
}

.footer__form_email::-moz-placeholder {
  padding-left: 25px;
  padding-right: 25px;
  padding-left: 25px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.footer__form_email::placeholder {
  padding-left: 25px;
  padding-right: 25px;
  padding-left: 25px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.footer__form_button {
  cursor: pointer;
  width: 275px;
  height: 46px;
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  transition-property: all;
  transition-duration: 0.3s;
}

.footer__form_button:hover {
  background: #000000;
  color: #FFF;
  transition-duration: 0.3s;
}

/*catalog*/
.top_catalog {
  height: 400px;
  background-image: url(img/interior_shop_catalog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.catalog_heading {
  margin-top: 7.9375rem;
  margin-bottom: 7.875rem;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
}

.catalog_link {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.catalog_link:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #000000;
}

.select {
  position: relative;
  width: 18rem;
}

.select select {
  width: 100%;
  padding: 14px;
  background: none;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: url(img/Polygon\ 1.svg) no-repeat;
  background-position: 85% 50%;
}

/*.select-box {
    position: relative;
    width: 288px;
    height: 41px;

}

.select-box::after {
    position: absolute;
    font-size: 16px;
    top: 4px;
    right: 3px;
    margin-top: -2px;
    pointer-events: none;
}



select {
    appearance: none;
    width: 200px;
    padding: 4px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
}*/
.section_catalog {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.catalog__list_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  align-items: center;
}

/*catalog*/
.top-cart {
  height: 400px;
  background-image: url(img/topcart.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-big {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
  margin-top: 127px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.cart_form {
  background: #F7F6F6;
  border-radius: 20px;
  width: 379px;
  height: 556px;
  grid-column: span 4;
}
.cart_content {
  grid-column: span 8;
}
.cart_name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart_item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart_left {
  display: flex;
  gap: 32px;
}
.cart_info {
  width: 276px;
}
.cart_subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.cart_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-top: 14px;
}
.cart_rub {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #050505;
  margin-top: 16px;
}
.cart_link-box {
  display: flex;
  gap: 32px;
  margin-top: 15px;
}
.cart_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  text-decoration-line: underline;
  color: #000000;
}
.cart_number {
  background: #F7F6F6;
  border-radius: 6px;
  width: 71px;
  height: 51px;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.cart_button-box {
  display: flex;
  justify-content: flex-start;
  gap: 7px;
  margin-top: 18px;
}
.cart_button {
  width: 200px;
  height: 37px;
  border: 1px solid #000000;
  border-radius: 50px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #020202;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /**/
}
.cart_button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.form {
  padding-top: 42px;
  padding-left: 27px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_box {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.form_heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
.form_item {
  width: 288px;
  outline: none;
  padding-bottom: 3px;
  background: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-bottom: 1px solid #CACDD8;
}
.form_item::-moz-placeholder {
  color: black;
}
.form_item::placeholder {
  color: black;
}
.form_result {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 64px;
  align-items: center;
  display: flex;
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  font-family: "Montserrat", sans-serif;
}
.form_button {
  width: 290px;
  height: 41px;
  border: 1px solid #000000;
  border-radius: 50px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #020202;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product-content {
    gap: 29px;
    row-gap: 39px;
  }
  .footer_logo {
    display: none;
  }
  .catalog-content {
    gap: 29px;
    row-gap: 39px;
  }
  .cart {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column: span 8;
    row-gap: 74px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
  }
  .header_input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mob {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  .logo_swg {
    width: 99px;
  }
  .logo__img {
    width: 99px;
  }
  .main-header {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .text {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .section_header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link {
    font-size: 14px;
  }
  .catalog_heading {
    font-size: 48px;
    text-align: center;
    margin-top: 101px;
  }
  .heading-big {
    font-size: 48px;
    text-align: center;
    margin-top: 101px;
  }
  .heading_mebel {
    font-weight: 600;
    font-size: 24px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1/-15;
    height: 243.78px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item_big {
    height: 244px;
    width: 343px;
  }
  .subtitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
  }
  .product__img {
    width: 342.93px;
    height: 226.21px;
  }
  .product__discription {
    width: 342.93px;
    height: 52px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .price {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: 113px;
    height: 22px;
  }
  .price__disable {
    width: 342.93px;
    height: 52px;
    font-size: 14px;
    line-height: 17px;
  }
  /*каталог*/
  .catalog__list_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    gap: 11px;
  }
  /*корзина*/
  .cart {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column: span 8;
    row-gap: 74px;
    justify-content: center;
    justify-items: center;
  }
  .cart_subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .cart_text {
    font-size: 12px;
    line-height: 15px;
  }
  .cart_rub {
    font-size: 12px;
    line-height: 15px;
    padding-top: 15px;
  }
  .cart_img {
    display: none;
  }
  .cart_button {
    width: 166px;
    height: 37px;
    font-size: 12px;
    line-height: 15px;
  }
  .cart_button-box {
    margin-top: 0;
  }
  .cart_form {
    grid-column: span 8;
    background: #F7F6F6;
    border-radius: 20px;
    width: 379px;
    height: 556px;
  }
  .cart_form_button {
    width: 290px;
    height: 41px;
  }
  .cart_form_link {
    font-size: 16px;
    line-height: 20px;
  }
  .form_button {
    border-radius: 20px;
  }
  .footer__content {
    justify-content: center;
    margin-top: 33px;
  }
  .footer__info {
    gap: 90px;
  }
  .footer_form {
    margin-top: 35px;
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product-content {
    gap: 29px;
    row-gap: 39px;
  }
  .footer_logo {
    display: none;
  }
  .catalog-content {
    gap: 29px;
    row-gap: 39px;
  }
  .cart {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column: span 8;
    row-gap: 74px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
  }
  .header_input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mob {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  .logo_swg {
    width: 99px;
  }
  .logo__img {
    width: 99px;
  }
  .main-header {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .text {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .section_header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link {
    font-size: 14px;
  }
  .catalog_heading {
    font-size: 48px;
    text-align: center;
    margin-top: 101px;
  }
  .heading-big {
    font-size: 48px;
    text-align: center;
    margin-top: 101px;
  }
  .heading_mebel {
    font-weight: 600;
    font-size: 24px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1/-15;
    height: 243.78px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item_big {
    height: 244px;
    width: 343px;
  }
  .subtitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
  }
  .product__img {
    width: 342.93px;
    height: 226.21px;
  }
  .product__discription {
    width: 342.93px;
    height: 52px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .price {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: 113px;
    height: 22px;
  }
  .price__disable {
    width: 342.93px;
    height: 52px;
    font-size: 14px;
    line-height: 17px;
  }
  /*каталог*/
  .catalog__list_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    gap: 11px;
  }
  /*корзина*/
  .cart {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column: span 8;
    row-gap: 74px;
    justify-content: center;
    justify-items: center;
  }
  .cart_subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .cart_text {
    font-size: 12px;
    line-height: 15px;
  }
  .cart_rub {
    font-size: 12px;
    line-height: 15px;
    padding-top: 15px;
  }
  .cart_img {
    display: none;
  }
  .cart_button {
    width: 166px;
    height: 37px;
    font-size: 12px;
    line-height: 15px;
  }
  .cart_button-box {
    margin-top: 0;
  }
  .cart_form {
    grid-column: span 8;
    background: #F7F6F6;
    border-radius: 20px;
    width: 379px;
    height: 556px;
  }
  .cart_form_button {
    width: 290px;
    height: 41px;
  }
  .cart_form_link {
    font-size: 16px;
    line-height: 20px;
  }
  .form_button {
    border-radius: 20px;
  }
  .footer__content {
    justify-content: center;
    margin-top: 33px;
  }
  .footer__info {
    gap: 90px;
  }
  .footer_form {
    margin-top: 35px;
  }
}/*# sourceMappingURL=style.css.map */